body{
    /* background-color: rgb(7, 3, 51); */
    display: grid;
    place-items: center;
}

h1{
    text-align: center;
}

.container{
    width: 40%;
    max-width: 500px;
    background-color: rgb(242, 245, 245);
    padding: 10px;
    border-radius: 10px;
    display: grid;
    gap: 1rem;
}
 
.kalkulatorBMI{
    display: grid;
    gap: 1rem;
}

.kalkulatorBMI div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.kalkulatorBMI label{
    flex: 0 1 120px;
    font-weight: 600;
}

.kalkulatorBMI input{
    flex: 1;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    outline-color: cadetblue;
    font-size: 15px;
    text-align: center;
}
.kalkulatorBMI button{
    width: 50%;
    border-radius: 5px;
    border: 0cap;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(68, 117, 58);
    color: aliceblue;
}
