*{
    font-family: sans-serif; /*jenis keseluruhan font*/
}
body{
    display: grid;
    place-items: center;
}

h1{
    text-align: center;
    color: blue;
}

.kalkulatorBMI{
    display: grid;
    gap: 1rem;
}

.kalkulatorBMI div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.kalkulatorBMI label{
    flex: 0 1 150px;
    font-weight: 450;
}

.kalkulatorBMI input{
    flex: 1;
    border: 1px solid rgb(160, 207, 158);
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.kalkulatorBMI button{
    width: 50%;
    border-radius: 5px;
    border: 0cap;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(68, 117, 58);
    color: aliceblue;
}

/* warna tombol reset */
.kalkulatorBMI button[type="reset"]{
    background-color: rgb(39, 9, 9);
}

/* perubahan tombol ketika pointer diarahkan */
.kalkulatorBMI button:hover{
    filter: brightness(130%);
}

main{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}
#hasil{
    text-align: center;
}

#result{
    margin: 60px;
    font-size: 40px;
    font-weight: 600;
}

#status{
    font-size: 20px;
}

/* Responsive */
@media only screen and (max-width : 480px){
    main{
        flex-direction: column;
    }

    .main-section{
        width: 100%;
    }
}

/* desain tabel kriteria */
.tabel-kriteria {
    color: #444;
    border-collapse: collapse;
    width: 55%;
    border: 1px solid #f2f5f7;
    
}
 
.tabel-kriteria tr th{
    background: #5f8573;
    color: #fff;
    font-weight: 90;
}
 
.tabel-kriteria, th, td {
    padding: 8px 20px;
    text-align: center;
}
 
.tabel-kriteria tr:hover {
    background-color: #f5f5f5;
}
 
.tabel-kriteria tr:nth-child(even) {
    background-color: #f2f2f2;
}